{% extends 'base/main.html' %} {% block content %}
<form class="card" method="POST" action="">
  {% csrf_token %}
  <div>
    <label>Username:</label>
    <input type="text" name="username" placeholder="Enter Username..." />
  </div>
  <br />
  <div>
    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter Password..." />
  </div>
  <br />
  <input class="todo-button" type="submit" value="login" />
  <p>Haven't signed up yet?</p>
  <a href="{% url 'register' %}">Register</a>
</form>
{% endblock content %}
